<nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #0F402C;">
    <div class="container-fluid ">
    <a class="navbar-brand " href="#">Space Python</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/parent_dashboard">Parent Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/viewProgress">Progress/Acheivements</a>
      </li>		
      <li class="nav-item">
        <a class="nav-link active" href="/manage_account">Manage Account</a>
      </li>	
      </ul>		  
    </div>
    </div>
  </nav>
  <div id="parentData" data-post="<%=parentdata%>">
  </div>

  <br>
  <br>
  <br>
  <br>
  <h1>Manage Accounts</h1>
  <p>Select accounts and manage them</p>

  <h2>My Account:</h2>

  <div class="parents-wrapper">

  </div>
  <br>
  <br>
  <a href="/manage_student_account"><button class="manageStudentButton">Manage Student Accounts</button></a>
  <br>
  <br>
  <a href="/logout"><button class="logoutButton">Log Out</button></a>

  <script>
    $(document).ready(() => {console.log($("#parentData").data("parent"))});
  
  //var requestedPlantName = document.getElementById("plantSearchBar").value;


  $(".parents-wrapper").empty();


  let parent = $("#parentsData").data("post");

  $(".parents-wrapper").append(`
        <h4>Parent Name: ${parent.firstName}</h4>
        <h5>Username: ${parent.username}</h5>
        <h5>Email: ${parent.email}</h5>
        
        <br>`);
  

  </script>
  <style>
    h2{
      color: #024b0c;
    }
  
    h3{
      color: #024b0c;
    }
  .logoutButton{
  
    background-color: #DC8D9C;
    border-color: #DC8D9C;
    color: black;
    border-radius: 8px;
    
  
  }
  .manageStudentButton{
  
  background-color: #DC8D9C;
  border-color: #DC8D9C;
  color: black;
  border-radius: 8px;
  

}
  
  
  </style>