<nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #374B4A;">
    <div class="container-fluid ">
    <a class="navbar-brand " href="#">Space Python</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/parent_dashboard">Parent Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/viewProgress">Progress/Acheivements</a>
      </li>		
      <li class="nav-item">
        <a class="nav-link" href="/manage_account">Manage Account</a>
      </li>	
      </ul>		  
    </div>
    </div>
  </nav>

  <br>
  <br>
  <br>

  <h2>Parent Dashboard</h2>
  <p>Check each child's progress, acheievements, and manage accounts</p>
  <a href="/create_student_account"><button>Add a Student Account</button></a>
  <br>
  <br>
  <h3>Students: </h3>
  <div id="plantData" data-post="<%=postdata%>">
  </div>




  <div class="plants-wrapper">
  
  </div>

  <h3>Parent Controls: </h3>
  <br>
  <button id="account">Your Account</button> <br> <br>
  <button id="childAcc">Manage Child Account</button> <br> <br>
  <button id="progress">View Student Progress</button> <br> <br>
  <button id="activity">View Student Activity</button> <br> <br>
  <button id="curr">View Student Curriculum</button> <br> <br>

  <script>
    $(document).ready(() => {console.log($("#plantData").data("post"))});
  
  //var requestedPlantName = document.getElementById("plantSearchBar").value;


  $(".plants-wrapper").empty();


  let plants = $("#plantData").data("post");

  for(i = 0; i < plants.length; i++){  //update to include general info instead of water info
      $(".plants-wrapper").append(`
        <h4>Student Name: <a href="/parent_dashboard/view_profile/${plants[i].id}">${plants[i].firstName}</a></h4>
        <h5>UserName: ${plants[i].username}</h5>
        <br>`);
          
      }
  //  $(".students-wrapper").empty();


    //let students = $("#studentData").data("post");

  //  for(i = 0; i < students.length; i++){  //update to include general info instead of water info
 //     $(".students-wrapper").append(`
 //       <h3>${students[i].firstName}</h3>
  //      <h2>UserName: ${students[i].username}</h2>`);
   //   }
  </script>
<style>
button{

  background-color: #374B4A;
  color: white;
}
</style>