<nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #0F402C;">
    <div class="container-fluid ">
    <a class="navbar-brand " href="#">Space Python</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/student_dashboard">Student Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/my_progress">Progress/Achievements</a>
      </li>		
      <li class="nav-item">
        <a class="nav-link" href="/my_profile">Student Profile</a>
      </li>		
      </ul>		  
    </div>
    </div>
  </nav>
  <br>
  <br>
  <br>

  <div class="linkContainer"> 

  <h2>Space Python Mission Plan</h2>
  <hr style="border-top: dotted 5px;" />
  <br>
  
  <!--Unit 1-->
  <a href="/unit/overview/1"><h3>Unit 1: What is Python?</h3></a>
  <!--Lesson 1-->
  <a href="/lesson/overview/1/1"><h4>Lesson 1: What is Python?</h4></a>
  <a href="/sublesson/video/1/1/1"><h5>Sublesson 1: Writing Your First Program!</h5></a>
  <ul>
    <a href="/sublesson/guided_activity/1/1/1"><li>Guided Activity: Hello World!</li></a>
    <a href="/sublesson/activity/1/1/1/1"><li>Activity: Favorite Foods</li></a>
    <a href="/sublesson/activity_answer/1/1/1/1"><li>Review: Favorite Foods</li></a>
  </ul>
  <!--Lesson 2-->
  <a href="/lesson/overview/1/2"><h4>Lesson 2: Introduction to Coding in Python</h4></a>
  <a href="/sublesson/video/1/2/1"><h5>Sublesson 1: Making a Sandwich </h5></a>
  <ul>
    <a href="/sublesson/guided_activity/1/2/1"><li>Guided Activity: Making a Sandwhich</li></a>
  </ul>

  <a href="/sublesson/video/1/2/2"><h5>Sublesson 2: Variables</h5></a>
  <ul>
    <a href="/sublesson/guided_activity/1/2/2"><li>Guided Activity: Sandwich Making Program</li></a>
    <a href="/sublesson/activity/1/2/2/1"><li>Activity: Getting Ready for School</li></a>
    <a href="/sublesson/activity_answer/1/2/2/1"><li>Review: Getting Ready for School</li></a>
  </ul>

  <a href="/sublesson/video/1/2/3"><h5>Sublesson 3: Types of Errors/Debugging</h5></a>
  <ul>
    <a href="/sublesson/guided_activity/1/2/3"><li>Guided Activity: Debugging</li></a>
    <a href="/sublesson/activity/1/2/3/1"><li>Activity: Fix the Errors</li></a>
    <a href="/sublesson/activity_answer/1/2/3/1"><li>Review: Fix the Errors</li></a>
  </ul>

  <!--Lesson 3-->
  <a href="/lesson/overview/1/3"><h4>Lesson 3: Using For Loops</h4></a>
  <a href="/sublesson/video/1/3/1"><h5>Sublesson 1: What are Loops?</h5></a>
  <ul>
    <a href="/sublesson/guided_activity/1/3/1"><li>Guided Activity: Creating Your First For Loop</li></a>
    <a href="/sublesson/activity/1/3/1/1"><li>Activity: Multiples</li></a>
    <a href="/sublesson/activity_answer/1/3/1/1"><li>Review: Multiples</li></a>
  </ul>

  <a href="/sublesson/video/1/3/2"><h5>Sublesson 2: Taking Input</h5></a>
  <ul>
    <a href="/sublesson/guided_activity/1/3/2"><li>Guided Activity: Taking User Input</li></a>
    <a href="/sublesson/activity/1/3/2/1"><li>Activity: Planning Your Journey</li></a>
    <a href="/sublesson/activity_answer/1/3/2/1"><li>Review: Planning Your Journey</li></a>
  </ul>

  <a href="/unit/review/1"><h4>Unit 1 Review</h4></a>
  <a href="/unit/quiz/1"><h4>Unit 1 Quiz</h4></a>
  <a href="/unit/challenge/1"><h4>Unit 1 Challenge</h4></a>

  <br>
  <hr style="border-top: dotted 5px;" />
    <!--Unit 2-->
    <a href="/unit/overview/2"><h3>Unit 2: Launch to the Moon</h3></a>
    <!--Lesson 1-->
    <a href="/lesson/overview/2/1"><h4>Lesson 1: If Statements and Conditions</h4></a>
    <a href="/sublesson/video/2/1/1"><h5>Sublesson 1: If Statement</h5></a>
    <ul>
      <a href="/sublesson/guided_activity/2/1/1"><li>Guided Activity: Checking Coordinates</li></a>
      <a href="/sublesson/activity/2/1/1/1"><li>Activity: Launch Countdown</li></a>
      <a href="/sublesson/activity_answer/2/1/1/1"><li>Review: Launch Countdown</li></a>
    </ul>
    <a href="/sublesson/video/2/1/2"><h5>Sublesson 2: If/Else Statement</h5></a>
    <ul>
      <a href="/sublesson/guided_activity/2/1/2"><li>Guided Activity: How to Write an If Statement</li></a>
      <a href="/sublesson/activity/2/1/2/1"><li>Activity: Checking Distance</li></a>
      <a href="/sublesson/activity_answer/2/1/2/1"><li>Review: Checking Distance</li></a>
    </ul>
    <a href="/sublesson/video/2/1/3"><h5>Sublesson 3: Conditions and Logical Operators</h5></a>
    <ul>
        <a href="/sublesson/guided_activity/2/1/3"><li>Guided Activity: Using Conditional Statements</li></a>
        <a href="/sublesson/activity/2/1/3/1"><li>Activity: Checking Distance and Fuel Levels</li></a>
        <a href="/sublesson/activity_answer/2/1/3/1"><li>Review: Checking Distance and Fuel Levels</li></a>
    </ul>
    <!--Lesson 2-->
    <a href="/lesson/overview/2/2"><h4>Lesson 2: While Loops</h4></a>
    <a href="/sublesson/video/2/2/1"><h5>Sublesson 1: Reviewing For Loops </h5></a>
    <ul>
        <a href="/sublesson/guided_activity/2/2/1"><li>Guided Activity: Checking Supplies</li></a>
        <a href="/sublesson/activity/2/2/1/1"><li>Activity: Calculating Fuel</li></a>
        <a href="/sublesson/activity_answer/2/2/1/1"><li>Review: Calculating Fuel</li></a>
    </ul>
    <a href="/sublesson/video/2/2/2"><h5>Sublesson 2: While Loops </h5></a>
    <ul>
        <a href="/sublesson/guided_activity/2/2/2"><li>Guided Activity: Make a While Loop</li></a>
        <a href="/sublesson/activity/2/2/2/1"><li>Activity: Making Another While Loop</li></a>
        <a href="/sublesson/activity_answer/2/2/2/1"><li>Review: Making Another While Loop</li></a>
    </ul>

    <a href="/unit/review/2"><h4>Unit 2 Review</h4></a>
    <a href="/unit/quiz/2"><h4>Unit 2 Quiz</h4></a>
    <a href="/unit/challenge/2"><h4>Unit 2 Challenge</h4></a>

</div>

<style>
    h2{
        color: #0F402C;
    }
    h3{
        color:#0a7bfd;
    }
    h4{
        color: #980afd;
    }
    h5{
        color: #2a0afd;
    }
    body {
    font-family: Verdana, sans-serif;
    background-color: #FAF9F6;
  }
</style>
  