<head>
</head>

<!-- Navigation bar start  -->
<nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #0F402C;">
  <div class="container-fluid ">
  <a class="navbar-brand " href="#">Space Python</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav ">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/student_dashboard">Student Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/my_progress">Progress</a>
    </li>		
    <li class="nav-item">
      <a class="nav-link" href="/my_profile">Student Profile</a>
    </li>		

    </ul>		  
  </div>
  </div>
</nav>
<!-- Navigation bar end  -->

<body>
  <br>
  <br>
  <br>
  <div id="sublessonData" data-sublesson="<%=sublessonInfo%>"></div>
  <div class="codingJourneyGraphic"></div> <!--Leaving space (lol) for interactive graphic that shows where they are along their coding journey-->
  <div class="sublessonNameHeader">
    <h3 id="sublessonName">Sublesson Name</h3>
  </div>

  <br>

  <div class="sublessonVid">
    
      <iframe id="sublessonVid" width="100%" height="356"></iframe>
    
  </div>
  <br>
  <div class="textEd">
    <iframe src="https://trinket.io/embed/python/e8b4e7e5f9" width="100%" height="356" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
  </div>
  <div class="written">
    <p id="written"></p>
  </div>
  <br>
  <div class="continueButton">
    <a id=continueLink><button id="continueButton" style="float: right;">Continue</button></a> <!--Will need to work out exactly how I am continuing the unit-->
  </div>



  <script type="text/javascript">

    // adapted from @Npitcher12 & @ascemek: Script to populate plant information
    $(document).ready(() => {
      const sublessonData = $("#sublessonData").data("sublesson");
      $("#sublessonName").text(sublessonData.topic);
     // $("#sublessonVid").text(sublessonData.url);
   //   $("#written").text(sublessonData.body);
      $("#sublessonVid").attr("src", sublessonData.url);
   //   $("#introductionHeader").text(unitData.introHeader);
    //  $("#unitIntroText").text(unitData.introduction_text);
    //  $("#lessonInformation").text(unitData.lesson_journey);

      lessonLink ="/sublesson/guided_activity/" + sublessonData.unit_number + "/" + sublessonData.lesson_number + "/" + sublessonData.sublesson_number
      $("#continueLink").attr("href", lessonLink);
    });
  </script>

  <br>
  <br>
  <br>
  <br>
</body>
<style>
  h2{
color: #024b0c;
}
h3{
color: #024b0c;
}
button{
background-color: #4895ef;
border-color: #4895ef;
color: white;
border-radius: 8px;
}
body {
    font-family: Verdana, sans-serif;
    background-color: #FAF9F6;
  }
</style>

