
<head>
</head>

<!-- Navigation bar start  -->
<nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #191970;">
  <div class="container-fluid ">
  <a class="navbar-brand " href="#">Space Python</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav ">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/student_dashboard">Student Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/my_progress">Progress/Acheivements</a>
    </li>		
    <li class="nav-item">
      <a class="nav-link" href="/rewards_store">Rewards Store</a>
    </li>	
    <li class="nav-item">
      <a class="nav-link" href="/coding_profile">Coding Profile</a> <!--Mayve this is like their "profile"-->
    </li>	
    </ul>		  
  </div>
  </div>
</nav>
<!-- Navigation bar end  -->

<body>
  <br>
  <br>
  <br>
  <div id="unitData" data-unit="<%=unitInfo%>"></div>
  <div class="codingJourneyGraphic"></div> <!--Leaving space (lol) for interactive graphic that shows where they are along their coding journey-->
  <div class="unitNameHeader">
    <h3 id="unitName"></h3>
  </div>
  <div class="instructions">
    <p id="instructions"></p>
  </div>
  <div class="q1">
    <p id="q1"></p>
  </div>
  <div class="q2">
    <p id="q2"></p>
  </div>
  <div class="q3">
    <p id="q3"></p>
  </div>
  <div class="q4">
    <p id="q4"></p>
  </div>
  <div class="q5">
    <p id="q5"></p>
  </div>
  <div class="continueButton">
    <a id=continueLink><button id="continueButton" style="float: right;">Continue</button></a> <!--Will need to work out exactly how I am continuing the unit-->
  </div>



  <script type="text/javascript">

    // adapted from @Npitcher12 & @ascemek: Script to populate plant information
    $(document).ready(() => {
      const unitData = $("#unitData").data("unit");
      $("#unitName").text(unitData.topic);
      $("#instructions").text(unitData.instructions);
      $("#q1").text(unitData.q1);
      $("#q2").text(unitData.q2);
      $("#q3").text(unitData.q3);
      $("#q4").text(unitData.q4);
      $("#q5").text(unitData.q5);
   //   $("#introductionHeader").text(unitData.introHeader);
  //    $("#unitIntroText").text(unitData.introduction_text);
   //   $("#lessonInformation").text(unitData.lesson_journey);

      lessonLink ="/unit/challenge/" + unitData.unit_number 
      $("#continueLink").attr("href", lessonLink);
    });
  </script>

  <br>
  <br>
  <br>
  <br>
</body>

