<nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #0F402C;">
    <div class="container-fluid ">
    <a class="navbar-brand " href="/">Space Python</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/about">About</a>
      </li>		
      <li class="nav-item">
        <a class="nav-link" href="/login">Sign Up/Log In</a>
      </li>	
      </ul>		  
    </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <body>
  <div class="left-align">
    <h2>Core Features:</h2> <!--Add a slideshow of the site screenshots of diff features here-->
    <p>Space Python has features that students and parents alike will find useful. </p>
    <p>Parents are able to view each of their students and see their progress.</p>
    <p>Parents are able to create student accounts.</p>
    <br>
    <div class="child"><img src="/images/about/new_parent_homepg.png" alt="Picture of Parent Homepg" style="width: 90%"></div>
    <br>
    <br>
    <b><p>As students work through the Space Python curriculum, their progress is tracked and updated.</p></b>
    <div class="child"><img src="/images/about/general_student_complete.png" alt="General Student Progress" style="width: 90%"></div>

    <b><p>Each lesson features written and audio instruction on Python concepts learned in a lesson</p></b>
    <div class="child"><img src="/images/about/favefoodsAct.png" alt="Favorite Foods Programming Activity" style="width: 90%"></div>
    <p></p>
    <!--Possibly go through the slideshow and change up each of these statements as going through it-->
  </div>
  <hr style="border-top: dotted 5px;" />

    <h2>Space Python Lesson Plan</h2>

    <br>
    
    <!--Unit 1-->
    <h3>Unit 1: What is Python?</h3>
    <!--Lesson 1-->
    <h4>Lesson 1: What is Python?</h4>
    <h5>Sublesson 1: Writing Your First Program!</h5>
    <ul>
      <li>Guided Activity: Hello World!</li>
      <li>Activity: Favorite Foods</li>
      <li>Review: Favorite Foods</li>
    </ul>
    <!--Lesson 2-->
    <h4>Lesson 2: Introduction to Coding in Python</h4>
    <h5>Sublesson 1: Making a Sandwich </h5>
    <ul>
      <li>Guided Activity: Making a Sandwhich</li>
    </ul>
  
    <h5>Sublesson 2: Variables</h5>
    <ul>
      <li>Guided Activity: Sandwich Making Program</li>
      <li>Activity: Getting Ready for School</li>
      <li>Review: Getting Ready for School</li>
    </ul>
  
    <h5>Sublesson 3: Types of Errors/Debugging</h5>
    <ul>
      <li>Guided Activity: Debugging</li>
      <li>Activity: Fix the Errors</li>
      <li>Review: Fix the Errors</li>
    </ul>
  
    <!--Lesson 3-->
    <h4>Lesson 3: Using For Loops</h4>
    <h5>Sublesson 1: What are Loops?</h5>
    <ul>
      <li>Guided Activity: Creating Your First For Loop</li>
      <li>Activity: Multiples</li>
      <li>Review: Multiples</li>
    </ul>
  
    <h5>Sublesson 2: Taking Input</h5>
    <ul>
      <li>Guided Activity: Taking User Input</li>
      <li>Activity: Planning Your Journey</li>
      <li>Review: Planning Your Journey</li>
    </ul>
  
    <h4>Unit 1 Review</h4>
    <h4>Unit 1 Quiz</h4>
    <h4>Unit 1 Challenge</h4>
  
    <br>
    <hr style="border-top: dotted 5px;" />
      <!--Unit 2-->
      <h3>Unit 2: Launch to the Moon</h3>
      <!--Lesson 1-->
      <h4>Lesson 1: If Statements and Conditions</h4>
      <h5>Sublesson 1: If Statement</h5>
      <ul>
        <li>Guided Activity: Checking Coordinates</li>
        <li>Activity: Launch Countdown</li>
        <li>Review: Launch Countdown</li>
      </ul>
      <h5>Sublesson 2: If/Else Statement</h5>
      <ul>
        <li>Guided Activity: How to Write an If Statement</li>
        <li>Activity: Checking Distance</li>
        <li>Review: Checking Distance</li>
      </ul>
      <h5>Sublesson 3: Conditions and Logical Operators</h5>
      <ul>
          <li>Guided Activity: Using Conditional Statements</li>
          <li>Activity: Checking Distance and Fuel Levels</li>
          <li>Review: Checking Distance and Fuel Levels</li>
      </ul>
      <!--Lesson 2-->
      <h4>Lesson 2: While Loops</h4>
      <h5>Sublesson 1: Reviewing For Loops </h5>
      <ul>
          <li>Guided Activity: Checking Supplies</li>
          <li>Activity: Calculating Fuel</li>
          <li>Review: Calculating Fuel</li>
      </ul>
      <h5>Sublesson 2: While Loops </h5>
      <ul>
          <li>Guided Activity: Make a While Loop</li>
          <li>Activity: Making Another While Loop</li>
          <li>Review: Making Another While Loop</li>
      </ul>
  
      <h4>Unit 2 Review</h4>
      <h4>Unit 2 Quiz</h4>
      <h4>Unit 2 Challenge</h4>
  
  </div>

  </body>

  <style>
    h2{
        color: #0F402C;
    }
    h3{
        color:#0a7bfd;
    }
    h4{
        color: #980afd;
    }
    h5{
        color: #2a0afd;
    }

  .left-align{
    text-align: left;
  }
  body {
    font-family: Verdana, sans-serif;
    background-color: #FAF9F6;
  }

  image{
    border: #0F402C;
    border-width: 3px;
  }


  </style>