<nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #374B4A;">
  <div class="container-fluid ">
  <a class="navbar-brand " href="/">Space Python</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav ">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>		
    <li class="nav-item">
      <a class="nav-link" href="/login">Sign Up/Log In</a>
    </li>	
    </ul>		  
  </div>
  </div>
</nav>
<hr>

<br>
<br>
<div class="image_container">
<img src="/images/homepg/laptopChildren.jpg" alt="Girl in a jacket" style="width: 50%">
</div>
<h1>Learn to code at your own pace!</h1>

<hr>

<h2>What is Space Python? </h2>
<p>Space Python is a fun and interactive platform to learn and practice Python coding. This platform was created with the purpose of encouraging students to develop their Python knowledge. Using a mix of lessons, interactive activities, and engaging projects, we encourage kids to develop their python coding knowledge. Our curriculum is built for students aged 11-14, but can be enjoyed by a variety of ages.</p>

<h2>Our Curriculum: </h2>
<p>We begin each lesson by either introducing students to a new concept in Python coding or building on a concept that they have learned before.  Students are able to see a problem solved before solving a problem that is similar so that they fully understand the steps involved. Students solve smaller problems before solving more complex problems. After each unit, students will test their knowledge in a quiz and complete a Unit Project.  As students progress through the curriculum, they'll be able to earn points that can be spent in our Rewards Store. </p>
<p>Learn more about our curriculum on the <a href="/about">About</a> page.</p>

<!--Signup/login buttons-->
<a href="/register"><button>Sign Up!</button></a>
<a href="/login"><button>Log In!</button></a>

<style>
  h1{
    text-align: center;
    color: #374B4A; /*I like this color for the headers*/
  }

  h2{
    color: #354538;
  }

  button{
    float: right;
    margin-left: 10px;
  }

  body {
    font-family: Verdana, sans-serif;
    background-color: #FAF9F6;
  }

  button{
    background-color: #354538;
    color: white;
  }

  .image_container{
    text-align: center;
  }
  

</style>